[Unit]
Description = Script to Send Power Consumption
After=network-online.target
Wants=network-online.target

[Install]
WantedBy = multi-user.target

[Service]
Type = simple
User = @USER@
Group = dialout
WorkingDirectory = @PROJECT_DIR@
ExecStart = @UV@ run --project @PROJECT_DIR@ python @PROJECT_DIR@/monitor.py
Restart = on-failure
